* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1111;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 1s;
}

#big {
  text-align: center;
  font-size: 100px;
  margin: 0 auto;
  color: white;
  padding-top: 100px;
  font-family: oswald;
}

.overlaycontent {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 1s;
}

.overlay a:hover, .overlay a:focus {
  color: dodgerblue;
}

.overlay .closebutton {
  position: absolute;
  top: 25px;
  left: 45px;
  font-size: 60px;
}

button {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: lightgrey;
  padding: 10px 15px;
  border: none;
}

span {
  top: 25px;
  left: 45px;
  position: fixed;
  color: lightgrey;
}

span:hover {
  color: dodgerblue;
  transition: 1s;
}

#a {
  height: 100vh;
  background-image: url(hacker.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: white;
  box-sizing:border-box;
}

.title {
  text-align: center;
  font-size: 100px;
  margin: 0 auto;
  color: white;
  padding-top: 100px;
  font-family: oswald;
}

.description {
  font-size: 25px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 100px;
  padding-top: 20px;
}

#b {
  color: white;
  height: 100vh;
  background-image: url(bluebg.png);
  background-size: cover;
  background-position: right;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  align-content: center;
  padding-top: 50px;
}

.container p {
  padding: 50px;
  padding-bottom: 0px;
  font-size: 18px;
}

.container h1 {
  font-size: 50px;
  padding-top: 10px;
  font-family: oswald;
}

.box {
  border: solid;
  border-width: medium;
  border-color: black;
  border-radius: 20px;
  background-color: black;
  margin: 20px;
  height: 100%;
}

.ilink {
  padding: 20px;
  margin: 50px;
  border-radius: 100px;
  background-color: black;
}

.ilink:hover {
  background-color: dodgerblue;
  transition: 1s;
}

#c {
  font-size: 25px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 100px;
  padding-top: 50px;
}

.singularity {
  font-size: 50px;
}

a {
  text-decoration: none;
  color: white;
}

.contact {
  text-align: center;
  padding: 80px;
}

.contact_header {
  color: dodgerblue;
  font-size: 50px;
}

footer {
  background-color: dodgerblue;
  color: white;
  padding: 40px 150px;
}

@media only screen and (max-width: 1500px) {
  .container {
    margin-left: 50px;
    margin-right: 50px;
    grid-template-columns: 1fr;
  }
  .container p {
    padding: 40px;
  }
  .box {
    height: 96%;
  }

  #b {
    height: 130vh;
  }
}

@media only screen and (max-width: 1300px) {
  #b {
    height: 140vh;
  }
}

@media only screen and (max-width: 1200px) {
  .contact{
    padding: 50px;
  }
  #big {
    padding-top: 75px;
  }
  .title {
    padding-top: 75px;
  }
}

@media only screen and (max-width: 1000px) {
  .description {
    font-size: 16px;
  }

  #b {
    height: 160vh;
  }
}

@media only screen and (max-width: 800px) {
  #b {
    height: 195vh;
  }
}
